.registro, .LogIn{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formRegistro{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.5rem;
}

.label{
    width: 20rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.25rem;
    
}

.error{
    width: 20rem;

    display: flex;
    margin-top: 0.25rem;
}

.btnRegistrarse{
    width: auto;
    padding: 0.3rem;
}

.formLogIn{
    width: 30%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input{
    width: 100%;
}
