.renglon {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.renglonNombre,
.renglonBanda,
.renglonFecha,
.renglonHora,
.renglonSede,
.renglonReservas,
.renglonMaxEntradas,
.renglonDescripcion {
	display: flex;
	align-items: center;
	padding: 0.25rem;
	border: 0.0625rem solid #ffffff;
	border-collapse: collapse;
	background-color: #3d3838;
}

.renglonNombre {
	min-width: 13rem;
	/* background-color: blue; */
}

.renglonBanda {
	min-width: 10rem;
	/* background-color: red; */
}

.renglonFecha {
	min-width: 6rem;
	justify-content: center;
	/* background-color: green; */
}

.renglonHora {
	min-width: 3rem;
	justify-content: center;
	/* background-color: violet; */
}

.renglonSede {
	min-width: 6.313rem;
	justify-content: center;
}

.renglonReservas {
	min-width: 7rem;
	justify-content: center;
}

.renglonMaxEntradas {
	min-width: 7rem;
	justify-content: center;
}

.renglonDescripcion {
	min-width: 25rem;
	max-width: 25rem;
	/* background-color: orange; */
}

.botones {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
	margin-left: 0.25rem;
	/* border: 0.0625rem solid #ffffff; */
}