header{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 0.5rem;
}

.logo{
	display: flex;
	max-width: 111px;
	max-height: 65px;
	margin-left: 2rem;
}

nav{
	display: flex;
}

ul{
	display: flex;
	align-items: center;
	padding: 0px;
	gap: 20px
}
ul li{
	display: flex;
	justify-content: center;
}

nav .verticalSeparator{
	height: 30px;
	border-left: 1px #5c2be2 solid;
}

.btnUsuario{
	display: flex;
	justify-content: center;
	align-items: center;

	height: 52px;
	width: 52px;
	border-radius: 100%;
	border: none;

	color: #ffffff;
	background-color: #5c2be2;
	/* background-color: #0e6e02; */
	margin-right: 2rem;
}

.btnSedes{
	font-size: medium;
	font-weight: 300;
	padding: 5px;

	color: #ffffff;
	border: none;
	background-color: inherit; 
}

.imgUsuario{
	width: 50px;
	height: 50px;
	padding-top: 0px;
}

.btnUsuario:hover {
    cursor: pointer;
}

.usuario{
	display: flex;
	justify-content: flex-end;
	padding-right: 10px;
}

.options{
	background-color: #5c2be2;
}

.usuarioDropDown{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	gap: 0.25rem;
	border: 1px solid #ffffff;
	position: absolute;
	background-color: #000000;
	margin-top: 4rem;
	margin-right: 2rem;
	padding: 0.25rem;
}

.sedesDropDown{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	gap: 0.25rem;
	border: 1px solid #ffffff;
	position: absolute;
	background-color: #000000;
	margin-top: 3rem;
	padding: 0.25rem;
}