header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	display: flex;
	max-width: 111px;
	max-height: 65px;
}

.separator{
	margin-top: 10px;
	width: 100%;
	border-top: 1px #5c2be2 solid;
}

nav{
	display: flex;
}

ul{
	/* list-style: none; */
	display: flex;
	padding: 0px;
	gap: 20px
}

nav .vLine{
	height: 30px;
	border-left: 1px #5c2be2 solid;
}

.usuario{
	max-height: 50px;
	max-width: 50px;
	padding-right: 10px;
	color: #ffffff;
}

.usuario:hover {
    cursor: pointer;
}